.intro-container{
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items:center;
	position: sticky;
	top: 70px;
	z-index: 1;

}
.intro-wrapper{
	width: 100%;
	height: auto;
	position: relative;
	top: -5%;
	z-index: 1;
}
#potrait{
	height: 250px;
	width: 250px;
}
#intro-text{
	color:rgba(255,255,255,0.75);
	width: 80%;
	margin:15px auto;
	font-weight: 750;
	font-size: 28px;
}
#download-resume{
	display: block;
	text-decoration: none;
	width: 130px;
	height: 50px;
	background-color:#cc6222;
	color:rgba(255,255,255,0.9);
	font-weight: bold;
	margin:auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	border-radius: 1.5px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.35), 0 15px 12px rgba(0,0,0,0.27);
	position: relative;
	top: 7.5vh;
	transition: all 0.35s ease;
}
#typewritter{
	overflow: hidden;
	display: inline-flex;
	padding: 0;
	margin: 0;
	justify-content: center;
	align-items: center;
	align-content: center;
	font-weight: 400;
	font-size: 20px;
	
}
#download-resume:hover{
	background-color:rgba(255,255,255,0.9);
	color: #cc6222; 
}
@media only screen and (min-width: 850px) {
	.intro-wrapper{
		display: grid;
		grid-template-columns: 35% 65%;
		grid-template-rows: 100%;
		margin:auto;
		width: 50%;
		max-width: 1200px;
		min-width: 780px;
		position: relative;
		left:3.5%;
	}
	#intro-text-resume-block{
		display: flex;
		flex-direction: column;
		margin: 0 0 0 5%;
	}
	#intro-text{
		font-size: 38px;
		height: 100%;
		margin: 0;
		width: 100%;
		text-align: left;
	}
	#typewritter{
		font-size: 21.5px;
		display: inline-flex;
		width: 100%;
		justify-content: flex-start;
	}
	#download-resume{
		margin:0;
		position: static;
		height: 55px;
	}
}
@media only screen and (min-width: 1500px){
	#intro-text{
		font-size: 48px;
	}
	#typewritter{
		font-size: 28px;
	}
}