.App {
  text-align: center;
  display:grid;
  grid-template-columns:100%;
  grid-template-rows:
   calc( 100vh - 70px )
   calc( 100vh - 70px ) 
   calc( 100vh - 70px ) 
   calc( 100vh - 70px )  
   calc( 100vh - 70px )  
   ;
  grid-row-gap: 100vh;
  background-color:#011627;
  width: 100%;
}
.particles{
	position: fixed;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	z-index: 0;
}
