.contact-container{
	display: flex;
	background-color: transparent;
	z-index:5;
	justify-content: center;
	align-items:center;
	position: sticky;
	position: -webkit-sticky;
	top: 70px;
	width: 100%;
	flex-direction: column;
	background-color: #011627;
}
.contact-wrapper{
	height: 96%;
	width: 99%;
	margin:auto;
	background-color: #011627;
	border:none;
	border-radius: 10px 10px 0px 10px;
	box-shadow: 0px 2px 10px 4px rgba(0,0,0,0.4);
	display: grid;
	grid-template-rows: 15% 85%;
	grid-template-columns: 100%;
	max-width: 1000px;
}
#contact-title{
	display: inline-block;
	margin:50px auto 0 auto;
	color:#bbc;
	font-weight: bolder;
	font-size: 28px;
}
#contact-title::before{
	content: "-----";
	letter-spacing:-6px;
	margin-right: 10px;
}
#contact-title::after{
	content: "-----";
	letter-spacing:-6px;
	margin-left: 02px;
}
.contact-body{
	width: 85%;
	height:100%;
	margin:auto;
	text-align: center;
	display: grid;
	grid-template-rows: 20% 20% 50% 10%;
	grid-template-columns: 100%;
}
.contact-block-item{
	position: relative;
}
.contact-label{
	position: absolute;
	left: 30px;
	top: 17.5%;
	color:rgba(255,255,255,0.5);
}
.contact-input{
	width: 95%;
	height: 50%;
	background-color: rgba(255,255,255,0.075);
	border:none;
	border-radius: 3px;
	color:rgba(255,255,255,0.65);
	font-weight: bold;
	padding:5%;
}
.contact-body>:nth-child(3)>.contact-label {
	position: absolute;
	top: 5%;
}
textarea.contact-input{
	height: 85%
}
#send{
	background-color: transparent;
	height: 85%;
	width: 95%;
	margin:auto;
/*	max-height: 55px;
	max-width:130px; */
/**/
	border:none;
	border-radius: 1.5px;
	display: flex;
	background-color: rgba(255,255,255,0.7);
	margin-top: -20px;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 2px 10px 4px rgba(0,0,0,0.4);
	transition: all 0.25s ease-out;
}
#send:hover{
	border:1px solid rgba(255,255,255,0.7);
	border-radius: 2px;
	background-color: #011627;
	box-shadow: none;
	cursor:pointer;
}
#gen-footer{
  background-color: #011627;
  z-index: 6;
  color: rgba(255,255,255,0.65);
  border-top: 1.5px solid #ffffff22;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
	width: 100%;
	height: 4%
}
@media only screen and (min-width: 768px) {
	#send{
		width: 120px;
		height: 50px;
		margin-left:auto;
		margin-right:2.5%;
	}
}